# Ambientes Virtuais
.venv/
venv/
env/
ENV/
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Streamlit
.streamlit/secrets.toml

# Arquivos temporários do nosso aplicativo (usados durante a execução)
temp_produtos_upload.xlsx
temp_modelo_upload.xlsx
Cardapio_Gerado.xlsx

# Editor e Sistema Operacional
.vscode/
.idea/
.DS_Store
Thumbs.db

# (Opcional) Ignorar todas as planilhas Excel para evitar subir dados privados para o GitHub.
# Se quiser versionar (fazer upload) das suas planilhas para o repositório, mantenha a linha abaixo comentada com o #
# *.xlsx
